.header__title {
  padding: 1em 0.5em;
  font-size: 4em;
  font-family: 'Monoton', cursive;
  background-color: #411484;
  color: white;
  text-align: right;
  border-bottom: 1em solid rgb(0, 0, 0);
}
